@{
    ViewData["Title"] = "Read Cookie";
}
<h2 class="mb-3">Read Sample Cookie</h2>
<div class="alert alert-info">@ViewBag.Message</div>
<p>
    If you set a cookie, you should see its value above. If it's deleted, it will say 'not found'.
</p>