@{
    ViewData["Title"] = "Set Cookie";
}
<h2 class="mb-3">Set Sample Cookie</h2>
<div class="alert alert-success">@ViewBag.Message</div>
<p>
    Now go to <b>Read Cookie</b> to view the value, or <b>Delete Cookie</b> to remove it.
</p>