@{
    ViewData["Title"] = "PIN Change Success";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-success mt-5" role="alert">
                <h4 class="alert-heading">Success!</h4>
                <p>@TempData["Message"]</p>
                <hr>
                <p class="mb-0">If you need to make any further changes, please return to your account settings.</p>
            </div>
        </div>
    </div>
</div>